*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    width: 100%;
    z-index: 5;
    position: relative;
}

/* grandezza e caratteristiche dei p  */
main p{
    font-family: 'Zen Tokyo Zoo', cursive;
    text-transform: uppercase;
    color: yellow;
    font-size: 2.5em;
    font-weight: 600;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#yellow-section p{
    color: green
}


.shoe-section{
    height: 100vh;
    position: relative;
    
}

div.wrapper>img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* bg color sezioni */
#red-section{
    background-color: red;
}
#green-section{
    background-color: green;
}
#yellow-section{
    background-color: yellow;
}
/*                 */

nav>ul{
    list-style-type: none;
    position: fixed;
    right: 40px;
    top: 60px; 
}

ul>li{
    font-size: 2em;
    display: inline-block;
    margin-right: 25px;
}

/* bg color hover dei tasti */
ul li a:hover{
    background-color: purple ;
}

/* settaggio link   */
ul li a{
    text-decoration: none;
    font-weight: bold;
    color: black;

    padding: 20px 30px;
    background-color: white;
    border-radius: 100%;
    box-shadow: 1px 1px 10px black;
}

